{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }

    </style>
{% endblock %}
{% block content %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="row mb-2">
    <div class="col-md-9 px-0">
      <h1 class="display-4 font-italic ">Welcome to MediaBox</h1>
      <p class="lead my-3">Best tv channels, movies, series in Russian and English</p>
    </div>

    <div class="col-md-3 px-3">
      <div class="digital-clock">
      clock
      </div>
    </div>
  </div>
</div>


<p>{{ now }}</p>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      {%for channel in range(0, data|length)%}


        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <a href="{{data[channel]['src']}}" target="_blank"><img class="bd-placeholder-img card-img-top" src="static/images/logos/{{data[channel]['channel_logo']}}" width="100%" height="225" xmlns="" role="img" aria-label="" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Sci-Fi</title><rect width="100%" height="100%" fill="#55595c"/></img></a>
            <div style="background-color: #000000; color: #ffffff;" class="card-body">
              <ul id="epg_ul" class="channel-row">


                <li class="program">


                <div class="programs-header">

                  <div class="span-group">
                    <span class="start-time">13:30 - </span>
                    <span class="finish-time">15:30</span>
                  </div>

                  <span class="status">Now</span>

                </div>

                <p>Braveheart</p>

                </li>

                <li class="now-playing">
                <span class="start-time">13:30 - </span>
                <span class="finish-time">15:30</span>
                <p>Gladiator</p>
                </li>


              <script>
              </script>


              </ul>



              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>-->
            </div>
          </div>
        </div>

      {%endfor%}


   </div>
  </div>
</div>




{% endblock %}
